html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.page-header,
.page-footer {
  background-color: mediumaquamarine;
}

.page-main {
  display: flex;
  height: 200px;
}

.page-article {
  width: 58.33333333333333%;
  background-color: lightsteelblue;
}

.page-first-sidebar,
.page-second-sidebar {
  width: 20.83333333%;
  background-color: lightgray;
}

p {
  margin: 0;
  text-align: center;
}
