html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* * {
  outline: 1px solid red;
} */

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.site-navigation {
  width: 600px;
  padding: 0;
  margin: auto;
  list-style: none;
}

.site-navigation-item {
  float: left;
  padding-right: 30px;
  padding-left: 30px;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  background-color: teal;
  cursor: pointer;
}
