html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.gallery {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-item {
  list-style: none;
  border: 1px solid #ccc;
  flex: 0 0 200px;
}

.gallery-item:hover {
  border: 1px solid #777;
}

.gallery-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.gallery-desc {
  padding: 15px;
  text-align: center;
}
